{% extends "base.html" %}

{% load static %}

{% load django_bootstrap5 %}

{% block title %}Mon profil{% endblock %}

{% block bodyId %}showProfilePage{% endblock %}

{% block headerContent %}
<div class="d-flex flex-wrap gap-1 gap-md-0 align-items-center justify-content-center justify-content-lg-start">
    <a href="{% url 'login' %}" class="text-decoration-none me-auto">
      <img src="{% static 'img/logo.jpg' %}" class="img-fluid" alt="logo">
    </a>
    <div class="text-end mb-1 mb-md-0 me-5">
      <a href="{% url 'welcome' %}" class="btn btn-warning p-1 ms-auto">Retour</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="card bg-light mb-0 mt-0 mb-sm-3 mt-sm-3 col-12 offset-lg-3 col-lg-6">
  <div class="card-body">
    <h4 class="card-title text-center">Mon profil</h4>
    <dl class="list-unstyled mt-3 fieldList">
      <dt class="text-start">Nom :</dt>
        <dd>{{ user_to_show.last_name }}</dd>
      <dt class="text-start">Prénom :</dt>
        <dd>{{ user_to_show.first_name }}</dd>
      <dt class="text-start">Date de naissance :</dt>
        <dd>{{ user_to_show.birth_date }}</dd>
      <dt class="text-start">Matricule :</dt>
        <dd>{{ user_to_show.registration_number }}</dd>
      <dt class="text-start">Email :</dt>
        <dd>{{ user_to_show.email }}</dd>
      <dt class="text-start">Tel. fixe :</dt>
        <dd>{{ user_to_show.home_phone_number }}</dd>
      <dt class="text-start">Tel. mobile :</dt>
        <dd>{{ user_to_show.cellphone_number }}</dd>
      <dt class="text-start">Faculté :</dt>
        <dd>{{ user_to_show.faculty.name }}</dd>
    {% if user_to_show.person_type == "student" %}
      <dt class="text-start">Cursus :</dt>
        <dd>{{ user_to_show.cursus.title }}</dd>
      <dt class="text-start">Année :</dt>
        <dd>{{ user_to_show.year }}</dd>
    {% elif user_to_show.person_type == "employee" %}
      <dt class="text-start">Bureau :</dt>
        <dd>{{ user_to_show.office }}</dd> 
      <dt class="text-start">Campus :</dt>
        <dd>{{ user_to_show.campus.name }}</dd>
      <dt class="text-start" class="text-end">Fonction :</dt>
        <dd>{{ user_to_show.job.title }}</dd>   
    {% endif %}    
    </dl>
  </div>
</div>

{% endblock %}
