{% extends "base.html" %}

{% block title %}Création d'un profil{% endblock %}

{% block bodyId %}userProfilePage{% endblock %}

{% block content %}
<h1>Création d'un compte</h1>
<form>
    <p>
        <label for="profileType">Vous êtes :</label> 
        <select id="profileType">
            <option value="student" {% if studentForm.is_bound %} select="selected" {% endif %}>
                Etudiant 
            </option> 
            <option value="employee" {% if employeeForm.is_bound %} select="selected" {% endif %}>
                Employé 
            </option>
        </select>
    </p>
</form>
<form method="GET" action="" id="studentForm">
    {% csrf_token %}
    {{ studentForm.as_p }}
    <p>
        <input type="hidden" name="profileType" value="student"/>
        <input type="submit" value="Créer un compte"/>
    </p> 
</form>
<form method="GET" action="" id="employeeForm">
    {% csrf_token %}
    {{ employeeForm.as_p }}
    <p>
        <input type="hidden" name="profileType" value="employee"/>
        <input type="submit" value="Créer un compte"/>
    </p> 
</form>

{% block javascript %}
<script type="text/javascript">
    function displayRightForm(){
        if($('#profileType').val() === 'student'){
            $('#employeeForm').hide(); 
            $('#studentForm').show();
        }
        else{
            $('#studentForm').hide()
            $('#employeeForm').show() 
        }
    }
    $(document).ready(displayRightForm);
    $('#profileType').change(displayRightForm);
    
    async function checkEmailField(){
        //alert('Courriel introduit. On va maintenant le valider.')
        let fieldValue = $('input#id_st-email').val();
        $.ajax({
            url: '{% url 'ajax_check_email_field' %}',
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'value': fieldValue},
            type: 'GET',
            success: function(data, textStatus, XMLHttpRequest){
                if (data != ''){
                    //alert(data);
                    $('input#id_st-email').parent().prev('.errorlist').remove();
                    $('input#id_st-email').parent().before(data);
                }
            }
        })
        
        fieldValue = $('input#id_em-email').val();
        $.ajax({
            url: '{% url 'ajax_check_email_field' %}',
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'value': fieldValue},
            type: 'GET',
            success: function(data, textStatus, XMLHttpRequest){
                if (data != ''){
                    $('input#id_em-email').parent().prev('.errorlist').remove();
                    $('input#id_em-email').parent().before(data);
                }
            }
        })
    }
    $(document).ready(function(){$('input#id_st-email').focusout(checkEmailField)});
    $(document).ready(function(){$('input#id_em-email').focusout(checkEmailField)});
</script>
{% endblock javascript %}   

{% endblock %}